.sidedrawer{
    width: 70%;
    background:#f4f4f4;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.sidedrawer.show{
    transform: translateX(0);
}