.wishlistscreen {
    
    max-width: 1300px;
    margin: 2rem auto;
    flex: auto;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
    border-radius: 2rem;
    margin-left: -230px;
    
  }
  
  .wishlistscreen h2 {
    margin-bottom: 1rem;
  }
  
  .wishlist-empty {
    margin-left: -230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .btn-large {
    font-size: var(--fontSizes-2xl);
    padding: 1.5rem 2rem;
    margin-top: 1rem;
  }
  
  @media (max-width: 1320px) {
    .wishlistscreen {
      width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .wishlistscreen {
      width: 800px;
    }
  }
  
  @media (max-width: 800px) {
    .wishlistscreen {
      width: 700px;
    }

}
@media (max-width: 680px) {
  .wishlistscreen {
    width: 550px;
  }
}
@media (max-width: 542px) {
  .wishlistscreen {
    width: 430px;
  }
}
